.confirmation {
    min-height: 60vh;
    background-color: #edefee;
    position: relative;
}

.confirmation-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirmation-content h1 {
    color: #ee9972;
    font-size: 48px;
    margin-bottom: 20px;
}

.confirmation-content p {
    color: #333;
}