.reservation-form > div{
    width: 100%;
}   

.reservation-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.reservation-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s;
}

.btn-submit {
    margin-top: 20px;
    display: block;
    width: fit-content;
}