.section-holder {
    max-width: 890px;
    margin: 0 auto;
}

.btn {
    background-color: #F4CE14;
    border-radius: 14px;
    outline: none;
    border: none;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover {
    background-color: #EDEFEE;
    color: #333;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}